* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

.caixa-mae {
    width: 100vw;
    height: 100vh;
}

.left {
    display: inline-block;
}

.right {
    display: inline-block;
    margin-left: 86px;
    position: relative;
    bottom: 80px;

}

header {
    margin-top: 44px;
    margin-left: 76px;
}

a {
    width: 79px;
    height: 29px;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    color: #989D9C;
    text-decoration: none;
    cursor: pointer;
    margin-left: 23px;

}

.button-header {
    width: 130px;
    height: 41px;
    background: #665AE1;
    margin-left: 23px;
    border-radius: 20px;
    border: none;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    color: #ffffff;
    cursor: pointer;

}

img {
    margin-left: 125px;
    margin-top: 144px;
    width: 568px;
    height: 500px;

}

h1 {
    width: 513px;
    height: 122px;
    font-size: 100px;
    font-weight: 900;
    line-height: 122px;
    color: #515151;

}

h3 {
    width: 448px;
    height: 71px;
    font-size: 58px;
    font-weight: 500;
    line-height: 71px;
    color: #515151;

}

p {
    width: 515px;
    height: 87px;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    color: #848484;
    margin-top: 32px;

}

.button-explore {
    width: 239px;
    height: 64px;
    background: #ADFF00;
    font-size: 28px;
    font-weight: 700;
    line-height: 34px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    color: #000000;
    margin-top: 65px;


}

@media screen and (max-width: 800px) {

    .left {
        position: relative;
        display: block;
        margin: -55px auto;
    }
      
    .right {

        position: static;
        display: block;
        width: 100%;
        height: auto;
        padding: 40px;
    }

    header {
        display: none;
    }

    p {
        display: none;
    }

    .button-explore {

        margin: 0 auto;
        display: block;
    }

    img {
        position: static;
        width: 354px;
        height: 317px;
        margin: 0 auto;
        display: block;

    }

    h1 {
    text-align: center;
    font-size: 50px;
    display: block;
    position: static;
}

    }

    h3 {
        width: 232px;
        height: 37px;
        text-align: center;
        font-size: 30px;
        font-weight: 500;
        line-height: 37px;

    }

}